<div class="page page-table" data-ng-controller="accountsCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/accounts/">Accounts</a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="panel panel-primary" >
		<div class="panel-heading" >Rich List</div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for account" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("name")' ng-class='sortClass("name")'>Name</th>
                        <th class="align-right" ng-click='sortColumn("amount")' ng-class='sortClass("amount")'>Amount</th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="rich in richs | orderBy:column:reverse | filter:search">
                    <td><a href='#/accounts/{{rich.id}}/'>{{rich.name}}</a></td>
                    <td class="align-right">{{rich.amount | number: 0}} <a href='#/assets/1.3.0/'>BTS</a></td>
                </tbody>
            </table>
        </div>
    </div>

</div>
