<div class="page page-table" data-ng-controller="marketsCtrl">

    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/markets/">Markets</a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="panel panel-primary">
		<div class="panel-heading">Most active Markets</div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for a market" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("pair")' ng-class='sortClass("pair")'>Pair</th>
                        <th style="text-align:right" ng-click='sortColumn("price")' ng-class='sortClass("price")'>Price</th>
						<th style="text-align:right" ng-click='sortColumn("volume")' ng-class='sortClass("volume")'>Volume</th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="market in markets | orderBy:column:reverse | filter:search">
                    <td><a href='#/markets/{{market.pair}}/'>{{market.pair}}</a></td>
                    <td style="text-align:right">{{market.price | number:10}}</td>
					<td style="text-align:right">{{market.volume | number}}</td>
                </tbody>
            </table>
        </div>
    </div>

</div>
