<!-- <header class="top-header clearfix" data-ng-controller="headerCtrl"> -->

<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Bitshares Open Explorer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/search">Search</a></li>
                <li><a href="#/txs">Transactions</a></li>
                <li><a href="#/assets">Assets</a></li>
                <li><a href="#/markets">Markets</a></li>
                <li><a href="#/accounts">Accounts</a></li>
                <li><a href="#/fees">Fees</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Governance <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/committee_members">Committee</a></li>
                        <li><a href="#/witness">Witnesses</a></li>
                        <li><a href="#/workers">Workers</a></li>
                        <li><a href="#/votes">Voting</a></li>
                        <li><a href="#/proxies">Proxies</a></li>
                    </ul>
                </li>

            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- </header> -->
