<!-- <header class="top-header clearfix" data-ng-controller="headerCtrl"> -->

<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Bitshares Open Explorer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/search">Search</a></li>
                <li><a href="#/txs">Transactions</a></li>
                <li><a href="#/assets">Assets</a></li>
                <li><a href="#/markets">Markets</a></li>
                <li><a href="#/accounts">Accounts</a></li>
                <li><a href="#/fees">Fees</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Governance <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/committee_members">Committee</a></li>
                        <li><a href="#/witness">Witnesses</a></li>
                        <li><a href="#/workers">Workers</a></li>
                        <li><a href="#/votes">Voting</a></li>
                        <li><a href="#/proxies">Proxies</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown langs text-normal" uib-dropdown is-open="status.isopenLang" data-ng-controller="LangCtrl">
                    <a href="javascript:;" class="active-flag" uib-dropdown-toggle ng-disabled="disabled">
                        <div class="flag {{ getFlag() }}"></div>
                    </a>
                    <ul class="dropdown-menu list-langs pull-right">
                        <li data-ng-show="lang !== 'English' ">
                            <a href="javascript:;" data-ng-click="setLang('English')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-american"></div>
                                    </div>
                                    <div class="col-md-8">
                                        English
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== 'Español' ">
                            <a href="javascript:;" data-ng-click="setLang('Español')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-spain"></div>
                                    </div>
                                    <div class="col-md-8">
                                        Español
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== 'Portugues' ">
                            <a href="javascript:;" data-ng-click="setLang('Portugues')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-portugal"></div>
                                    </div>
                                    <div class="col-md-8">
                                        Portugues
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== '中文' ">
                            <a href="javascript:;" data-ng-click="setLang('中文')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-china"></div>
                                    </div>
                                    <div class="col-md-4">
                                        中文
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== '日本語' ">
                            <a href="javascript:;" data-ng-click="setLang('日本語')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-japan"></div>
                                    </div>
                                    <div class="col-md-4">
                                        日本語
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== 'Русский язык' ">
                            <a href="javascript:;" data-ng-click="setLang('Русский язык')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-russia"></div>
                                    </div>
                                    <div class="col-md-4">
                                        Русский язык
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- </header> -->
