.flags-american,.flags-china,.flags-japan,.flags-portugal,.flags-russia,.flags-spain {
    height:21px;
    width:32px
}
.flags-american,.flags-china,.flags-japan,.flags-portugal,.flags-russia,.flags-spain,.flags-sprite {
    background-image:url(ui/images/flags-s5f0622be95.png);
    background-repeat:no-repeat
}
.flags-american {
    background-position:0 0
}
.flags-china {
    background-position:0 -21px
}
.flags-japan {
    background-position:0 -42px
}
.flags-portugal {
    background-position:0 -63px
}
.flags-russia {
    background-position:0 -84px
}
.flags-spain {
    background-position:0 -105px
}

/* arrows */
.arrow-down:after,.arrow-up:after{
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.arrow-down:after{
    top: 10px;
    border-top-color: grey;
}

.arrow-up:after{
    bottom: 15px;
    border-bottom-color: grey;
}

.arrow-down,.arrow-up{
    padding-right: 10px;
}


/* align right */
.align-right {
    text-align:right;
}