<div class="page page-table" data-ng-controller="proxiesCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#!/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#!/proxies/"><span data-translate="Proxies"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Top proxies"></span></div>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("position")' ng-class='sortClass("position")'><span data-translate="Position"></span></th>
                        <th ng-click='sortColumn("account")' ng-class='sortClass("account")'><span data-translate="Account"></span></th>
                        <th class="align-right" ng-click='sortColumn("power")' ng-class='sortClass("power")'><span data-translate="Power"></span></th>
						<th class="align-right" ng-click='sortColumn("followers")' ng-class='sortClass("followers")'><span data-translate="Followers"></span></th>
                        <th ng-click='sortColumn("perc")' ng-class='sortClass("perc")'>%</th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="p in proxies | orderBy:column:reverse">
                    <td>{{p.position}}</td>
                    <td><a href="#!/accounts/{{p.account}}/">{{p.account_name}}</a></td>
                    <td class="align-right">{{p.power | number: 0}}</td>
					<td class="align-right">{{p.followers | number}}</td>
                    <td>{{p.perc | number: 3}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
